<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>

        <link href = "../static/form.css" type = "text/css" rel =" stylesheet">

    </head>

    <body>
        <form>
            <div class = "field">
                <label for = "field_name">Name: </label>
                <input name = "field_name" id = "field_name" type = "text">
            </div>

            <div class = "field">
                <label for = "field_description">Description: </label>
                <textarea name = "field_description" id=  "field_description">

                </textarea>
            </div>

            <div class = "field">
                <label for="field_quant" >Quantity: </label>
                <input name = "field_quant" id = "field_quant" type = "number">
            </div>
        </form>
    </body>
</html>