<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>

        <link href = "../static/login.css" type = "text/css" rel =" stylesheet">
    </head>

    <body>
        <form>
            <div class = "field">
                <label>Usuário: </label>
                <input id = "field_user" type = "text">
            </div>

            <div class = "field">
                <label>Senha: </label>
                <input id = "field_password" type = "password">
            </div>
        </form>
    </body>
</html>